.ContainerInput {
    z-index: 2;
    display: flex;
    justify-content: center;
    position: relative;
}

.InputSearch {
    height: 36px;
    width: 30vw;
    padding: 10px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    outline: none;
    color: #fff;
    z-index: 10;
}

.InputSearch::placeholder {
    color: white;
}

.buttonSearch {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 600px) {
    .InputSearch {
        width: 60vw;
    }
    .InputSearch::placeholder {
        display: none;
    }
    .icon-search {
        display: none;
    }
}